@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Inter&family=Karla:wght@600&family=Poppins&family=Roboto:ital,wght@1,100&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F4EAEA;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #D48686;
    text-decoration: none;
    background-color: #F4EAEA;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 20px 20px;
}

a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 7px;
    color: #F4EAEA;
    background-color: #D48686;
    border: 2px solid #F4EAEA;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.containerd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

h1 {
    color: #D48686;
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 20;
}

h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 7px;
    border-radius: 20px 20px 0px 0px;
    background-color: #D48686;
    border: 2px solid white;
}

h3 {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 7px;
    border-radius: 20px 20px 0px 0px;
    background-color: #D48686;
    border: 2px solid white;
}

p {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.detailedproduct {
    width: fit-content;
    width:fit-content;
    background-color: #DDAEAE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px 20px;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 7px;

}
header{
    position: relative;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    background-color: #F4EAEA;
}
.sideBarRight{
    
    background-color: #DDAEAE;
    border: 5px solid white;
    width: 50%;
    height: 100rch;
    z-index: 2000;
    position: absolute;
    padding: 20px;
    top: 0;
    right:-100%;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 7px;
}
.sideBarRight svg{
    position: relative;
    width:fit-content;
    height: 30px;
    fill:#f3f3f3;
    justify-self: flex-start;
    margin-right: auto;
}
.showside{
    right:0;
}

.details {
    background-color: #DDAEAE;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px 20px;
    border: 2px solid white;

}

.detailedproduct img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info {
    color: rgb(255, 255, 255);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 10px;
}

span {
    font-size: small;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding: 4px;
    width: 30%;
    width:30%;
    height: 12%;
    text-align: center;
    color: aliceblue;
    padding: 14px 4px 14px 4px;
    font-weight: 700;
    border-radius: 0px 0px 20px 20px;
}

.scroll {
    transition: 0.3s;
    background-color: #e7c0c0;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 7px;
}

.scroll h1 {
    transition: 0.3s;
    color: #fff;
}

.scroll svg {
    transition: 0.3s;
    fill: #fff;
}

.products {
    padding: 20px 0px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.product:hover {
    transform: scale(1.1);
    z-index: 10;

}

.product {
    background-color: #DDAEAE;
    border-radius: 20px;
    width: calc((100% - 60px) / 3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    position: relative;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 7px;
}

img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
}

svg {
    position: relative;
    width: 40px;
    justify-self: flex-end;
    margin-left: auto;
    fill: #D48686;
    cursor: pointer;
}


.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* تعيين لون الغطاء وتعتيمه */
    z-index: 9999;
    /* تأكد من أن الغطاء فوق كل شيء آخر */
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlaySide{
    position: fixed;
    z-index: 19;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.8s;
    background-color: rgba(0, 0, 0, 0.5);
}


.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #D48686;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dnone{
    display: none;
}


@media screen and (max-width:800px) {
    .product {
        width: calc((100% - 80px) / 3);
    }
}

@media screen and (max-width:600px) {
    .product {
        width: calc((100% - 80px) / 2);
    }
}

@media screen and (max-width:400px) {
    .product {
        width: 100%;
    }
}