* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(134, 181, 203);
}

.container{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 20px;
}
h1{
    color:rgb(255, 255, 255);
}
h2{
    color:rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding:7px;
    border-radius: 20px 20px 0px 0px;
    background-color:rgb(50, 103, 127);
}
.info{
    color:rgb(255, 255, 255);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5px;  
}
span{
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding:4px;
    font-weight: 700;
    border-radius: 0px 0px 20px 20px;
}
.products{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.product:hover{
    transform: scale(1.2);
    z-index: 10;
}
.product{
    background-color:rgb(84, 154, 186);
    border-radius: 20px;
    width:calc((100% - 80px) / 4);
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-wrap: wrap;
    padding:5px;
    justify-content: flex-start;
    align-items: center;
    border:1px solid rgb(51, 99, 122);
    position: relative;
    z-index: 0;
}
img{
   border-radius: 20px;
   width:100%;
}